<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

        <footer id="footer " th:fragment="footer">
            <div class="footer1">
                <ul>
                    <li><strong>Team Leader : </strong> 최병호</li>
                    <li><strong>UI / UX Leader : </strong>강예은</li>
                    <li><strong>Coding Leader : </strong>김혜진</li>
                    <li><strong>QA Leader : </strong>안성민</li>
                </ul>


            </div>
            <div class="footer2">
                <ul>
                    <li><strong style="font-size: 25px">Contact Us</strong></li>
                    <li class="gray">한국소프트웨어기술진흥협회( 031-606-9311 )</li>
                    <li class="gray">서울특별시 금천구 가산동 319 4층/9층</li>
                    <li class="gray">
                        <a class="gray" href="mailto:jongukjeong@gmail.com">jongukjeong@gmail.com</a>
                        <br>교육강사 : 정종욱
                    </li>
                    <li></li>
                </ul>
                <div>
                    <strong style="font-size: 15px">대표 문의 : </strong>02-1234-5678

                </div>
            </div>
        </footer>
</html>